target
/sigem/SIGEM_CriptoValidacion/bin/ieci/tecdoc/sgm/cripto/validacion/impl/afirma/*.class
*.class
*.dipucr
/sigem/SIGEM_AdministracionUsuariosWeb/bin
/sigem/SIGEM_RegistroPresencial_Modules/SIGEM_RegistroPresencialAdminWeb/bin
/sigem/SIGEM_RegistroPresencial_Modules/SIGEM_RegistroPresencialAdminWeb/.gitignore
*.prefs
/tramitador/ispac-main/*.bak
/tramitador/ispac-mgr/ispac-mgr-webapp/src/main/webapp/WEB-INF/*.bak
/registro/ISicres-Common/*.classpath
/registro/ISicres-Desktop-Jar/*.classpath
/registro/ISicres-Desktop-Web/*.classpath
/registro/ISicres-Document-Connector-Invesdoc/*.classpath
/registro/ISicres-Server/*.classpath
/sigem/SIGEM_AdministracionUsuariosWeb/*.classpath
/sigem/SIGEM_Autenticacion/*.classpath
/sigem/SIGEM_AutenticacionWeb/*.classpath
/sigem/SIGEM_CatalogoTramitesWeb/*.classpath
/sigem/SIGEM_ClasesBase/*.classpath
/sigem/SIGEM_Consulta/*.classpath
/sigem/SIGEM_ConsultaRegistroTelematicoWeb/*.classpath
/sigem/SIGEM_ConsultaWebMiembros/*.classpath
/sigem/SIGEM_Core/*.classpath
/sigem/SIGEM_CriptoValidacion/*.classpath
/sigem/SIGEM_Entidades/*.classpath
/sigem/SIGEM_EstructuraOrganizativa/*.classpath
/sigem/SIGEM_EstructuraOrganizativaCore/*.classpath
/sigem/SIGEM_EstructuraWeb/*.classpath
/sigem/SIGEM_FirmaDigital/*.classpath
/sigem/SIGEM_GestionCSV_Modules/SIGEM_GestionCSV/*.classpath
/sigem/SIGEM_GestionCSV_Modules/SIGEM_GestionCSVWeb/*.classpath
/sigem/SIGEM_portal/*.classpath
/sigem/SIGEM_Rde/*.classpath
/sigem/SIGEM_RdeWSClient/*.classpath
/sigem/SIGEM_RegistroPresencial_Modules/SIGEM_RegistroPresencial/*.classpath
/sigem/SIGEM_RegistroPresencial_Modules/SIGEM_RegistroPresencialAdminWeb/*.classpath
/sigem/SIGEM_RegistroPresencial_Modules/SIGEM_RegistroPresencialWeb/*.classpath
/sigem/SIGEM_RegistroTelematico_Modules/SIGEM_RegistroTelematico/*.classpath
/sigem/SIGEM_RegistroTelematico_Modules/SIGEM_RegistroTelematicoWeb/*.classpath
/sigem/SIGEM_RepositoriosDocumentalesWeb/*.classpath
/sigem/SIGEM_Tramitacion_Modules/SIGEM_BuscadorDocsWeb/*.classpath
/sigem/SIGEM_Tramitacion_Modules/SIGEM_PublicadorWeb/*.classpath
/sigem/SIGEM_Tramitacion_Modules/SIGEM_Tramitacion/*.classpath
/sigem/SIGEM_Tramitacion_Modules/SIGEM_TramitacionWeb/*.classpath
/sigem/SIGEM_Tramitacion_Modules/SIGEM_TramitacionWS/*.classpath
/sigem/SIGEM_Tramitacion_Modules/SIGEM_TramitacionWSClient/*.classpath
/sigem/SIGEM_UtilidadesAdministracion/*.classpath
/sigem/SIGEM_UtilidadesSesionUsuario/*.classpath
/tramitador/ispac-catalog/ispac-catalog-java/*.classpath
/tramitador/ispac-invesdoc/*.classpath
/tramitador/ispac-invesicres/*.classpath
/tramitador/ispac-lib/*.classpath
/tramitador/ispac-mgr/ispac-mgr-java/*.classpath
/tramitador/ispac-publicador/ispac-publicador-java/*.classpath
/tramitador/ispac-services-ws/ispac-services/*.classpath
/tramitador/ispac-web/*.classpath
/sigem/SIGEM_ClasesBase/.settings/*.component
/sigem/SIGEM_ConsultaRegistroTelematicoWeb/.settings/*.component
/sigem/SIGEM_ConsultaWebMiembros/.settings/*.component
/sigem/SIGEM_Core/.settings/*.component
/sigem/SIGEM_Entidades/.settings/*.component
/sigem/SIGEM_EstructuraWeb/.settings/*.component
/sigem/SIGEM_FirmaDigital/.settings/*.component
/sigem/SIGEM_RegistroPresencial_Modules/SIGEM_RegistroPresencial/.settings/*.component
/sigem/SIGEM_RegistroPresencial_Modules/SIGEM_RegistroPresencialWeb/.settings/*.component
/sigem/SIGEM_RegistroTelematico_Modules/SIGEM_RegistroTelematico/.settings/*.component
/sigem/SIGEM_Tramitacion_Modules/SIGEM_PublicadorWeb/.settings/*.component
/sigem/SIGEM_Tramitacion_Modules/SIGEM_TramitacionWS/.settings/*.component
/sigem/SIGEM_Tramitacion_Modules/SIGEM_TramitacionWSClient/.settings/*.component
/sigem/SIGEM_UtilidadesAdministracion/.settings/*.component
/tramitador/ispac-mgr/ispac-mgr-java/.settings/*.component
/tramitador/ispac-web/.settings/*.component
/registro/ISicres-Common/.classpath
/registro/ISicres-Desktop-Jar/.classpath
/registro/ISicres-Desktop-Web/.classpath
/registro/ISicres-Document-Connector-Invesdoc/.classpath
/registro/ISicres-Server/.classpath
/sigem/SIGEM_AdministracionUsuariosWeb/.classpath
/sigem/SIGEM_Autenticacion/.classpath
/sigem/SIGEM_AutenticacionWeb/.classpath
/sigem/SIGEM_CatalogoTramitesWeb/.classpath
/sigem/SIGEM_ClasesBase/.classpath
/sigem/SIGEM_Consulta/.classpath
/sigem/SIGEM_ConsultaRegistroTelematicoWeb/.classpath
/sigem/SIGEM_ConsultaWebMiembros/.classpath
/sigem/SIGEM_Core/.classpath
/sigem/SIGEM_CriptoValidacion/.classpath
/sigem/SIGEM_Entidades/.classpath
/sigem/SIGEM_EstructuraOrganizativa/.classpath
/sigem/SIGEM_EstructuraOrganizativaCore/.classpath
/sigem/SIGEM_EstructuraWeb/.classpath
/sigem/SIGEM_FirmaDigital/.classpath
/sigem/SIGEM_GestionCSV_Modules/SIGEM_GestionCSV/.classpath
/sigem/SIGEM_GestionCSV_Modules/SIGEM_GestionCSVWeb/.classpath
/sigem/SIGEM_portal/.classpath
/sigem/SIGEM_Rde/.classpath
/sigem/SIGEM_RdeWSClient/.classpath
/sigem/SIGEM_RegistroPresencial_Modules/SIGEM_RegistroPresencial/.classpath
/sigem/SIGEM_RegistroPresencial_Modules/SIGEM_RegistroPresencialAdminWeb/.classpath
/sigem/SIGEM_RegistroPresencial_Modules/SIGEM_RegistroPresencialWeb/.classpath
/sigem/SIGEM_RegistroTelematico_Modules/SIGEM_RegistroTelematico/.classpath
/sigem/SIGEM_RegistroTelematico_Modules/SIGEM_RegistroTelematicoWeb/.classpath
/sigem/SIGEM_RepositoriosDocumentalesWeb/.classpath
/sigem/SIGEM_Tramitacion_Modules/SIGEM_BuscadorDocsWeb/.classpath
/sigem/SIGEM_Tramitacion_Modules/SIGEM_PublicadorWeb/.classpath
/sigem/SIGEM_Tramitacion_Modules/SIGEM_Tramitacion/.classpath
/sigem/SIGEM_Tramitacion_Modules/SIGEM_TramitacionWeb/.classpath
/sigem/SIGEM_Tramitacion_Modules/SIGEM_TramitacionWS/.classpath
/sigem/SIGEM_Tramitacion_Modules/SIGEM_TramitacionWSClient/.classpath
/sigem/SIGEM_UtilidadesAdministracion/.classpath
/sigem/SIGEM_UtilidadesSesionUsuario/.classpath
/tramitador/ispac-catalog/ispac-catalog-java/.classpath
/tramitador/ispac-invesdoc/.classpath
/tramitador/ispac-invesicres/.classpath
/tramitador/ispac-lib/.classpath
/tramitador/ispac-mgr/ispac-mgr-java/.classpath
/tramitador/ispac-publicador/ispac-publicador-java/.classpath
/tramitador/ispac-services-ws/ispac-services/.classpath
/tramitador/ispac-web/.classpath
/sigem/SIGEM_ClasesBase/.settings/org.eclipse.wst.common.component
/sigem/SIGEM_ConsultaRegistroTelematicoWeb/.settings/org.eclipse.wst.common.component
/sigem/SIGEM_ConsultaWebMiembros/.settings/org.eclipse.wst.common.component
/sigem/SIGEM_Core/.settings/org.eclipse.wst.common.component
/sigem/SIGEM_Entidades/.settings/org.eclipse.wst.common.component
/sigem/SIGEM_EstructuraWeb/.settings/org.eclipse.wst.common.component
/sigem/SIGEM_FirmaDigital/.settings/org.eclipse.wst.common.component
/sigem/SIGEM_RegistroPresencial_Modules/SIGEM_RegistroPresencial/.settings/org.eclipse.wst.common.component
/sigem/SIGEM_RegistroPresencial_Modules/SIGEM_RegistroPresencialWeb/.settings/org.eclipse.wst.common.component
/sigem/SIGEM_RegistroTelematico_Modules/SIGEM_RegistroTelematico/.settings/org.eclipse.wst.common.component
/sigem/SIGEM_Tramitacion_Modules/SIGEM_PublicadorWeb/.settings/org.eclipse.wst.common.component
/sigem/SIGEM_Tramitacion_Modules/SIGEM_TramitacionWS/.settings/org.eclipse.wst.common.component
/sigem/SIGEM_Tramitacion_Modules/SIGEM_TramitacionWSClient/.settings/org.eclipse.wst.common.component
/sigem/SIGEM_UtilidadesAdministracion/.settings/org.eclipse.wst.common.component
/tramitador/ispac-web/.settings/org.eclipse.wst.common.component
/sigem/SIGEM_AdministracionUsuariosWeb/.settings/org.eclipse.core.resources.prefs
/sigem/SIGEM_AdministracionUsuariosWeb/.settings/org.eclipse.jdt.core.prefs
/sigem/SIGEM_CatalogoTramitesWeb/.settings/org.eclipse.core.resources.prefs
/sigem/SIGEM_CatalogoTramitesWeb/.settings/org.eclipse.jdt.core.prefs
/sigem/SIGEM_RegistroPresencial_Modules/SIGEM_RegistroPresencial/.settings/org.eclipse.core.resources.prefs
/sigem/SIGEM_RegistroPresencial_Modules/SIGEM_RegistroPresencialAdminWeb/.settings/org.eclipse.core.resources.prefs
/sigem/SIGEM_RegistroPresencial_Modules/SIGEM_RegistroPresencialAdminWeb/.settings/org.eclipse.jdt.core.prefs
/sigem/SIGEM_RegistroTelematico_Modules/SIGEM_RegistroTelematicoWeb/.settings/org.eclipse.core.resources.prefs
/sigem/SIGEM_RepositoriosDocumentalesWeb/.settings/org.eclipse.core.resources.prefs
/sigem/SIGEM_RepositoriosDocumentalesWeb/.settings/org.eclipse.jdt.core.prefs
/sigem/SIGEM_Tramitacion_Modules/SIGEM_BuscadorDocsWeb/.settings/org.eclipse.core.resources.prefs
/sigem/SIGEM_Tramitacion_Modules/SIGEM_Tramitacion/.settings/org.eclipse.core.resources.prefs
/sigem/SIGEM_Tramitacion_Modules/SIGEM_TramitacionWeb/.settings/org.eclipse.core.resources.prefs
/sigem/SIGEM_Tramitacion_Modules/SIGEM_TramitacionWeb/.settings/org.eclipse.wst.validation.prefs
/framework-csv/fwktd-csv-core/.project
/sigem/SIGEM_CriptoValidacion/.project
/sigem/SIGEM_EstructuraOrganizativa/.project
/sigem/SIGEM_EstructuraOrganizativaCore/.project
/sigem/SIGEM_GestionCSV_Modules/SIGEM_GestionCSV/.project
/sigem/SIGEM_GestionCSV_Modules/SIGEM_GestionCSVWeb/.project
/sigem/SIGEM_Tramitacion_Modules/SIGEM_TramitacionWSClient/.project
/sigem/SIGEM_UtilidadesAdministracion/.project
/sigem/SIGEM_UtilidadesSesionUsuario/.project
/tramitador/ispac-catalog/ispac-catalog-java/.project
/sigem/SIGEM_Tramitacion_Modules/SIGEM_Tramitacion-resources-configurable/src/main/resources/SIGEM_Tramitacion/config_001/firma/datosFirmaRegistro.txt.bak
/sigem/SIGEM_Tramitacion_Modules/SIGEM_Tramitacion-resources-configurable/src/main/resources/SIGEM_Tramitacion/config_002/firma/datosFirma.txt.bak
/sigem/SIGEM_Tramitacion_Modules/SIGEM_Tramitacion-resources-configurable/src/main/resources/SIGEM_Tramitacion/config_002/firma/datosFirmaRegistro.txt.bak
/sigem/SIGEM_Tramitacion_Modules/SIGEM_Tramitacion-resources-configurable/src/main/resources/SIGEM_Tramitacion/config_002/serviciosWeb.properties.bak
/sigem/SIGEM_Tramitacion_Modules/SIGEM_Tramitacion-resources-configurable/src/main/resources/SIGEM_Tramitacion/config_027/firma/datosFirma.txt.bak
/sigem/SIGEM_Tramitacion_Modules/SIGEM_Tramitacion-resources-configurable/src/main/resources/SIGEM_Tramitacion/config_027/firma/datosFirmaRegistro.txt.bak
/sigem/SIGEM_Tramitacion_Modules/SIGEM_Tramitacion-resources-configurable/src/main/resources/SIGEM_Tramitacion/config_027/serviciosWeb.properties.bak
/sigem/SIGEM_Tramitacion_Modules/SIGEM_Tramitacion-resources-configurable/src/main/resources/SIGEM_Tramitacion/config_057/firma/datosFirma.txt.bak
/sigem/SIGEM_Tramitacion_Modules/SIGEM_Tramitacion-resources-configurable/src/main/resources/SIGEM_Tramitacion/config_057/serviciosWeb.properties.bak
/sigem/SIGEM_Tramitacion_Modules/SIGEM_Tramitacion-resources-configurable/src/main/resources/SIGEM_Tramitacion/config_058/firma/datosFirma.txt.bak
/sigem/SIGEM_Tramitacion_Modules/SIGEM_Tramitacion-resources-configurable/src/main/resources/SIGEM_Tramitacion/config_060/firma/datosFirma.txt.bak
invesFlow
.settings
/sigem/SIGEM_DIST/*.war
