/***************************************/
/* Button w/multiple secondary actions */

.multisimbutton {
    display: inline-block;
    margin: 0 2px;
    }
    
.ie7 .multisimbutton {
    display: inline;
    zoom: 1;
    vertical-align: top;
    }
    
.multisimbutton > div {
    overflow: hidden;
    
    -webkit-border-radius: 2px;
    -moz-border-radius:    2px;
    border-radius:         2px;

    background: #eae7e7;
    background: -moz-linear-gradient(top, #eae7e7 0%, #b8b8b8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eae7e7), color-stop(100%,#b8b8b8));
    background: -webkit-linear-gradient(top, #eae7e7 0%,#b8b8b8 100%);
    background: -o-linear-gradient(top, #eae7e7 0%,#b8b8b8 100%);
    background: -ms-linear-gradient(top, #eae7e7 0%,#b8b8b8 100%);
    background: linear-gradient(to bottom, #eae7e7 0%,#b8b8b8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eae7e7', endColorstr='#b8b8b8',GradientType=0 );
    
    -moz-box-shadow:    0 1px 2px rgba(0,0,0,0.65), 
                        0 1px 1px rgba(255,255,255,0.6) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.65), 
                        0 1px 1px rgba(255,255,255,0.6) inset;
    box-shadow:         0 1px 2px rgba(0,0,0,0.65), 
                        0 1px 1px rgba(255,255,255,0.6) inset;
    }

.ie7 .multisimbutton > div,
.ie8 .multisimbutton > div {
    border-top: 1px solid #CCC;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}
    
.multisimbutton .multiPrimary {
    display: inline-block;
    float: left;
    padding: 7px 12px;
    // height: 17px;
    min-width: 70px;
    margin: 0;
    
    font-size: 0.917em;
    font-weight: normal;
    color: #444;
    border: none;
    text-align: center;
    white-space: nowrap;
    
    -webkit-border-radius: 0;
    -moz-border-radius:    0;
    border-radius:         0;
    
    border-right: 1px solid #999;
    
    text-shadow: 0px 1px 0px rgba(255,255,255,0.5);

    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient( enabled=0 );

    -webkit-box-shadow: 1px 0 0 rgba(255,255,255,0.05) inset, 
                        -1px 0 0 rgba(255,255,255,0.15) inset;
    -moz-box-shadow:    1px 0 0 rgba(255,255,255,0.05) inset, 
                        -1px 0 0 rgba(255,255,255,0.15) inset;
    box-shadow:         1px 0 0 rgba(255,255,255,0.05) inset, 
                        -1px 0 0 rgba(255,255,255,0.15) inset;
    }
    
.ie7 .multisimbutton .multiPrimary, 
.ie8 .multisimbutton .multiPrimary {
    // border-top: 1px solid #CCC;
    // border-bottom: 1px solid #999;
    // border-left: 1px solid #999;

    border: none;

    border-right: 1px solid #999;
    }
    
.multisimbutton input.multiPrimary[type="submit"], 
.multisimbutton input.multiPrimary[type="button"] {
    // height: 31px;
    padding: 7px 12px;
    }
    
.ie7 .multisimbutton input.multiPrimary[type="submit"], 
.ie8 .multisimbutton input.multiPrimary[type="submit"] {
    // height: 33px;
    }
    
.multisimbutton .multiDropdown {
    display: block;
    float: left;
    overflow: hidden;
    padding: 6px;
    width: 14px;
    min-height: 16px;
    // height: 23px;
    margin-bottom: 0;
    
    cursor: pointer;
    
    text-indent: -99999em;
    font-size: 0.917em;
    font-weight: normal;
    color: #444;
    border: none;
    
    text-shadow: 0px 1px 0px rgba(255,255,255,0.5);

    // background: #eae7e7;
    // background: -moz-linear-gradient(top, #eae7e7 0%, #b8b8b8 100%);
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eae7e7), color-stop(100%,#b8b8b8));
    // background: -webkit-linear-gradient(top, #eae7e7 0%,#b8b8b8 100%);
    // background: -o-linear-gradient(top, #eae7e7 0%,#b8b8b8 100%);
    // background: -ms-linear-gradient(top, #eae7e7 0%,#b8b8b8 100%);
    // filter:     progid:DXImageTransform.Microsoft.gradient( startColorstr='#eae7e7', endColorstr='#b8b8b8',GradientType=0 );
    // background: linear-gradient(top, #eae7e7 0%,#b8b8b8 100%);
    
    -webkit-box-shadow: 1px 0 0 rgba(255,255,255,0.15) inset;
    -moz-box-shadow:    1px 0 0 rgba(255,255,255,0.15) inset;
    box-shadow:         1px 0 0 rgba(255,255,255,0.15) inset;
    }
    
.ie7 .multisimbutton .multiDropdown, 
.ie8 .multisimbutton .multiDropdown {
    // border-top: 1px solid #CCC;
    // border-bottom: 1px solid #999;
    // border-left: 1px solid #999;
    }
    
.multisimbutton .multiDropdown:focus {
    outline: none;
    }
    
.multisimbutton .selected {
    background: rgb(211,209,209);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzZDFkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiOGI4YjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(211,209,209,1) 0%, rgba(184,184,184,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,209,209,1)), color-stop(100%,rgba(184,184,184,1)));
    background: -webkit-linear-gradient(top, rgba(211,209,209,1) 0%,rgba(184,184,184,1) 100%);
    background: -o-linear-gradient(top, rgba(211,209,209,1) 0%,rgba(184,184,184,1) 100%);
    background: -ms-linear-gradient(top, rgba(211,209,209,1) 0%,rgba(184,184,184,1) 100%);
    background: linear-gradient(top, rgba(211,209,209,1) 0%,rgba(184,184,184,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d1d1', endColorstr='#b8b8b8',GradientType=0 );
    
    background: #bcbcbc;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JjYmNiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #bcbcbc 0%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcbcbc), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top, #bcbcbc 0%,#cccccc 100%);
    background: -o-linear-gradient(top, #bcbcbc 0%,#cccccc 100%);
    background: -ms-linear-gradient(top, #bcbcbc 0%,#cccccc 100%);
    background: linear-gradient(top, #bcbcbc 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#cccccc',GradientType=0 );

    background: -moz-linear-gradient(top, rgba(0,0,0,0.23) 0%, rgba(255,255,255,0.28) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.23)), color-stop(100%,rgba(255,255,255,0.28)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.23) 0%,rgba(255,255,255,0.28) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.23) 0%,rgba(255,255,255,0.28) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.23) 0%,rgba(255,255,255,0.28) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.23) 0%,rgba(255,255,255,0.28) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b000000', endColorstr='#47ffffff',GradientType=0 );

    -webkit-box-shadow: 1px 0 1px rgba(0,0,0,0.05) inset, 
                        0 1px 0px rgba(255,255,255,0.3) inset;
    -moz-box-shadow:    1px 0 1px rgba(0,0,0,0.05) inset, 
                        0 1px 0px rgba(255,255,255,0.3) inset;
    box-shadow:         1px 0 1px rgba(0,0,0,0.05) inset, 
                        0 1px 0px rgba(255,255,255,0.3) inset;
    }
    
.multisimbutton .multiDropdown span {
    display: none;
    }
    
.multisimbutton .multiDropdown span.mf-icon {
    display: block;
    }
    
.multisimbutton ul {
    float: left;
    min-width: 80px;
    clear: both;
    margin: 0;
    display: none;
    position: absolute;
    overflow: hidden;
    
    background-color: #CCC;
    
    -webkit-border-radius: 2px 0 3px 3px;
    -moz-border-radius:    2px 0 3px 3px;
    border-radius:         2px 0 3px 3px;
    
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.65);
    -moz-box-shadow:    0 1px 2px rgba(0,0,0,0.65);
    box-shadow:         0 1px 2px rgba(0,0,0,0.65);
    }
    
.multisimbutton ul li {
    display: block;
    padding: 0;
    
    border-bottom: 1px solid #999;
    
    color: #444;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
    
    -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:    0 1px 1px rgba(255,255,255,0.4) inset;
    box-shadow:         0 1px 1px rgba(255,255,255,0.4) inset;
    }
    
.multisimbutton ul li:hover {
    background-color: #DDD;
    }
    
.multisimbutton ul li a {
    display: block;
    padding: 9px 18px;
    
    font-size: 0.917em;
    
    color: #444;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
    }