/********************/
/* Sandboxed window */

.sandboxd .windowHeader {
    border: 1px solid #CCC;
    padding: 20px;
    }
    
.sandboxd #contentData {
    margin: 20px;
    border: 1px solid #CCC;
    }