<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2016 Ministerio de Sanidad, Servicios Sociales e Igualdad 
 Licencia con arreglo a la EUPL, Versión 1.1 o -en cuanto sean aprobadas por laComisión Europea– versiones posteriores de la EUPL (la «Licencia»); 
 Solo podrá usarse esta obra si se respeta la Licencia. 
 Puede obtenerse una copia de la Licencia en: 
 http://joinup.ec.europa.eu/software/page/eupl/licence-eupl 
 Salvo cuando lo exija la legislación aplicable o se acuerde por escrito, el programa distribuido con arreglo a la Licencia se distribuye «TAL CUAL», SIN GARANTIAS NI CONDICIONES DE NINGÚN TIPO, ni expresas ni implícitas. 
 Véase la Licencia en el idioma concreto que rige los permisos y limitaciones que establece la Licencia. 
-->

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>SIGEM_RegistroPresencialMSSSIWeb</display-name>
	<description>SIGEM_RegistroPresencialMSSSIWeb</description>

	<!-- SERVLET CONFIGURACION SIGM -->
	<servlet>
		<description>Servlet que introduce en las variables de sistema las rutas provenientes de los env-entry</description>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>es.msssi.tecdoc.sgm.registropresencial.servlet.InitPathServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- SERVLET CONFIGURACION LOG4J SIGM -->
	<servlet>
		<display-name>log4j-init</display-name>
		<servlet-name>log4j-init</servlet-name>
		<servlet-class>ieci.tecdoc.sgm.core.log.web.Log4jInitServlet</servlet-class>
		<init-param>
			<param-name>subdir</param-name>
			<param-value>/SIGEM_RegistroPresencialMSSSIWeb</param-value>
		</init-param>
		<init-param>
			<param-name>fileName</param-name>
			<param-value>log4j.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<!-- SERVLET CONFIGURACION NFS -->
	<servlet>
		<servlet-name>ResourceDispatcherServlet</servlet-name>
		<servlet-class>ieci.tecdoc.sgm.core.web.ResourceDispatcherServlet</servlet-class>
		<init-param>
			<param-name>subdir</param-name>
			<param-value>/SIGEM_RegistroPresencialMSSSIWeb</param-value>
		</init-param>
		<init-param>
			<param-name>defaultSkin</param-name>
			<param-value>skinDefecto</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	
	<!-- SERVLET FACES -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	
	<!--  SERVLET SCAN -->
	<servlet>
		<display-name>FileUploadScanDipucr</display-name>
		<servlet-name>FileUploadScanDipucr</servlet-name>
		<servlet-class>es.dipucr.tecdoc.isicres.servlets.core.FileUploadScanDipucr</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FileUploadScanDipucr</servlet-name>
		<url-pattern>/FileUploadScanDipucr</url-pattern>
	</servlet-mapping>

	<!-- SERVLET COMPULSA -->
	<servlet>
		<display-name>FileUploadCompulsaDipucr</display-name>
		<servlet-name>FileUploadCompulsaDipucr</servlet-name>
		<servlet-class>es.dipucr.tecdoc.isicres.servlets.core.FileUploadCompulsaDipucr</servlet-class>
	</servlet>	

	<servlet-mapping>
		<servlet-name>FileUploadCompulsaDipucr</servlet-name>
		<url-pattern>/FileUploadCompulsaDipucr</url-pattern>
	</servlet-mapping>

	<!-- Map these files with JSF -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceDispatcherServlet</servlet-name>
		<url-pattern>/resourceServlet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>es.msssi.sgm.registropresencial.servlet.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>msssitheme</param-value>
	</context-param>
	<context-param>
		<param-name>PARAMETER_ENCODING</param-name>
		<param-value>ISO-8859-15</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	
	<context-param>
	    <param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
	    <param-value>200000</param-value>
	</context-param>	
	
	<!-- FICHEROS CONFIGURACION DE SPRING -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:beans/fwktd-sir-core-applicationContext.xml
			classpath:beans/fwktd-sir-api-applicationContext.xml
			classpath:beans/ISicres-Api/applicationContext.xml
			classpath:beans/ISicres-Terceros/applicationContext.xml
			classpath:beans/SIGEM_RegistroPresencialMSSSIWeb/applicationContext.xml
		</param-value>
	</context-param>

	<session-config>
		<session-timeout>720</session-timeout>
	</session-config>
	
	<!-- FILTRO LOGIN SIGM -->
	<filter>
		<display-name>login</display-name>
		<filter-name>login</filter-name>
		<filter-class>es.msssi.sgm.registropresencial.filters.LoginCheckFilter</filter-class>
		<init-param>
			<param-name>excludePaths</param-name>
			<param-value>.css;.gif;.png;.jpg;.cab;.js;/FileUploadScanDipucr;/FileUploadCompulsaDipucr;/resources/software/</param-value>
		</init-param>
		<init-param>
			<param-name>logout</param-name>
			<param-value>/SIGEM_AutenticacionBackOfficeWeb/logout.do</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- FILTRO PRIMEFACES -->
	<filter>
		<filter-name>PrimeFaces Character Encoding Filter</filter-name>
		<filter-class>es.msssi.sgm.registropresencial.utils.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrimeFaces Character Encoding Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	
	<!-- LISTENER -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.ieci.tecdoc.isicres.listeners.IsicresServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.ieci.tecdoc.isicres.listeners.SessionListener</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>inicio.xhtml</welcome-file>
	</welcome-file-list>
	<!-- PAGINAS DE ERROR -->
	<error-page>
		<error-code>400</error-code>
		<location>/resources/400.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/resources/403.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/resources/404.html</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/resources/405.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/resources/500.html</location>
	</error-page>
	
	<!-- DATASOURCES -->
	<resource-ref>
		<res-ref-name>jdbc/fwktd-dir3DS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<res-ref-name>jdbc/sigemAdmin</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<!-- ENV-ENTRY SIGM -->	
	<env-entry>
		<description>URL webservice</description>
		<env-entry-name>URL_WS</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>${sigem.url.webservices}</env-entry-value>
	</env-entry>
		<!-- PFE -->
	<env-entry>
		<description>Alias del certificado de firma</description>
		<env-entry-name>cert_alias</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>${ALIAS_SIGN_CERT}</env-entry-value>
	</env-entry>

	<!-- WS-SISTEMA CLIENTE PFE -->
	<!-- WSSEC UserPass SOAP -->
	<env-entry>
		<description>Sistema de servicios web</description>
		<env-entry-name>WSSEC_SYSTEM/PFE</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>${env.entry.SYSTEM_PFE}</env-entry-value>
	</env-entry>
	<env-entry>
		<description>Modo (cliente) de los servicios web</description>
		<env-entry-name>WSSEC_MODE_PFE</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>${env.entry.MODE_PFE}</env-entry-value>
	</env-entry>
	<env-entry>
		<description>Tipo de autenticacion (usr/pss)</description>
		<env-entry-name>WSSEC_TYPE_PFE</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>${env.entry.TYPE_PFE}</env-entry-value>
	</env-entry>
	<env-entry>
		<description>Usuario de servicios web</description>
		<env-entry-name>WSUSERNAME_PFE</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>${env.entry.WSUSERNAME_PFE}</env-entry-value>
	</env-entry>
	<env-entry>
		<description>Password de usuario de servicios web</description>
		<env-entry-name>WSUSERPASS_PFE</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>${env.entry.WSUSERPASS_PFE}</env-entry-value>
	</env-entry>
	<env-entry>
		<description>Tipo de codificacion de password de usuario de servicios web</description>
		<env-entry-name>WSUSERPASSTYPE_PFE</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>${env.entry.WSUSERPASSTYPE_PFE}</env-entry-value>
	</env-entry>
  	<!-- FIN WSSEC UserPass SOAP -->
	<!-- FIN WS-SISTEMA CLIENTE PFE -->

	
	<!-- ENV-ENTRY ESTATICOS SIGM -->
	<env-entry>
		<description>URL de los estáticos</description>
		<env-entry-name>URLRoot</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>${URLRootRelative}</env-entry-value>
	</env-entry>
	<env-entry> 
		<description>Path del directorio general de logs</description>
	    <env-entry-name>MSSSIPATH_sigem.path</env-entry-name> 
	    <env-entry-type>java.lang.String</env-entry-type> 
	    <env-entry-value></env-entry-value>  
	</env-entry>
	<env-entry> 
		<description>Path del directorio general de logs</description>
	    <env-entry-name>MSSSIPATH_sigem.log.path</env-entry-name> 
	    <env-entry-type>java.lang.String</env-entry-type> 
	    <env-entry-value>logs</env-entry-value>  
	</env-entry>
	<env-entry>
		<description>Path del directorio general de configuracion</description>
	    <env-entry-name>MSSSIPATH_sigem.config.location.path</env-entry-name> 
	    <env-entry-type>java.lang.String</env-entry-type> 
	    <env-entry-value>config/</env-entry-value> 
	</env-entry>
	<env-entry>
		<description>Path del directorio general de configuracion</description>
	    <env-entry-name>MSSSIPATH_SIGEM_CONFIG_DIR</env-entry-name> 
	    <env-entry-type>java.lang.String</env-entry-type> 
	    <env-entry-value>config/</env-entry-value> 
	</env-entry>
	<env-entry>
		<description>Url de SIGEM_AdministracionSesionesBackOfficeWS</description>
	    <env-entry-name>MSSSIURL_sigem.url.adm_ses_bckoff_ws</env-entry-name> 
	    <env-entry-type>java.lang.String</env-entry-type> 
	    <env-entry-value>/SIGEM_AdministracionSesionesBackOfficeWS/services/AdministracionSesionesBackOfficeWebService</env-entry-value> 
	</env-entry>
	<env-entry>
		<description>Url de SIGEM_AdministracionSesionesAdmWS</description>
	    <env-entry-name>MSSSIURL_sigem.url.adm_ses_adm_ws</env-entry-name> 
	    <env-entry-type>java.lang.String</env-entry-type> 
	    <env-entry-value>/SIGEM_AdministracionSesionesAdmWS/services/AdministracionSesionesAdministradorWebService?wsdl</env-entry-value> 
	</env-entry>
	<env-entry>
		<description>Url de SIGEM_AutenticacionUsuariosWS</description>
	    <env-entry-name>MSSSIURL_sigem.url.autenticacion_ws</env-entry-name> 
	    <env-entry-type>java.lang.String</env-entry-type> 
	    <env-entry-value>/SIGEM_AutenticacionUsuariosWS/services/AdministracionUsuariosPortalWebService</env-entry-value> 
	</env-entry>
	<env-entry>
		<description>Url de SIGEM_SessionUsuarioWS</description>
	    <env-entry-name>MSSSIURL_sigem.url.ses_usuario_ws</env-entry-name> 
	    <env-entry-type>java.lang.String</env-entry-type> 
	    <env-entry-value>/SIGEM_SessionUsuarioWS/services/SesionUsuarioWebService</env-entry-value> 
	</env-entry>
	<env-entry>
		<description>Url de SIGEM_RegistroPresencialWS</description>
	    <env-entry-name>MSSSIURL_sigem.url.registro_presencial_ws</env-entry-name> 
	    <env-entry-type>java.lang.String</env-entry-type> 
	    <env-entry-value>/SIGEM_RegistroPresencialWS/services/ServicioRegistroWebService</env-entry-value> 
	</env-entry>
	<env-entry>
		<description>Url de sesion_adm_ws</description>
	    <env-entry-name>MSSSIURL_sigem.url.sesion_adm_ws</env-entry-name> 
		<env-entry-type>java.lang.String</env-entry-type> 
	    <env-entry-value>/SIGEM_CertificacionWS/services/CertificacionWebService</env-entry-value> 
	</env-entry>
	<env-entry>
		<description>Url de SIGEM_GestionUsuariosBackOfficeWS</description>
	    <env-entry-name>MSSSIURL_sigem.url.gest_usu_bckoff_ws</env-entry-name> 
	    <env-entry-type>java.lang.String</env-entry-type> 
	    <env-entry-value>/SIGEM_GestionUsuariosBackOfficeWS/services/GestionUsuariosBackOfficeWebService</env-entry-value>  
	</env-entry>
	<env-entry>
		<description>Url de sir</description>
		<env-entry-name>MSSSIURL_sigem.url.sir_ws</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>/fwktdsirWS/intercambioRegistral</env-entry-value>
	</env-entry>
	<env-entry>
		<description>Path de los reports</description>
		<env-entry-name>PathReports</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>ficheros/reports/</env-entry-value>
	</env-entry>
	<env-entry>
		<description>Url del logout</description>
		<env-entry-name>URLLogOut</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>/SIGEM_AutenticacionBackOfficeWeb/logout.do</env-entry-value>
	</env-entry>
	<env-entry>
		<description>Url del appletFirma</description>
		<env-entry-name>URLSIGNAPPLET</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>${APPLETSIGN}</env-entry-value>
	</env-entry>
	<!-- SERVICE PFE -->
	<service-ref>
		<service-ref-name>service/SIGNSERVICE</service-ref-name>
		<service-interface>core.ws.jsign.SignServiceService</service-interface>
		<mapped-name>service/SIGNSERVICE</mapped-name>
	</service-ref>
	<mime-mapping>
		<extension>wsdl</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>png</extension>
		<mime-type>image/png</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>gif</extension>
		<mime-type>image/gif</mime-type>
	</mime-mapping>
</web-app>