<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:fragment="users">
<input type="hidden" id="isGestorLdap" name="isGestorLdapField" th:value="${#authentication.gestorLdap}" />
<input type="hidden" id="isAdministrador" name="isAdministradorField" th:value="${#authentication.administrator}" />
<button class="secondary mb10 right" onclick="prepareInsertUser();">
	<span class="mf-icon mf-icon-add-16 "></span>
	<span th:text="#{newButton}">Nuevo usuario</span>
</button>
<form id="usersForm" name="usersForm" method="POST" th:action="@{usersManagement}" th:object="${usersParameters}">
	<input type="hidden" id="currentUserPage" name="paginator.currentPage" th:value="1" />
	<input type="hidden" id="orderUserField" name="orderField" th:value="*{orderField}" />
	<input type="hidden" id="orderUser" name="order" th:value="*{order}" />
	<input type="text" id="searchTextUser" name="searchText" th:value="*{searchText}" th:placeholder="#{searchByIdNameProvinceJob}" class="mr0 w240 ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"/>
	<div class="catalogueOverflow">
	<table class="data noborder tl"  th:with="simulador=${#authentication.simulador},administrador=${#authentication.administrator}">
		<thead>
			<tr>
				<th><a class="sort" href="#" th:text="#{userID}" onclick="orderUser(1)">ID</a></th>
				<th><a class="sort" href="#" th:text="#{name}" onclick="orderUser(2)">Nombre</a></th>	
				<th><a class="sort" href="#" th:text="#{lastName1}" onclick="orderUser(3)">Nombre</a></th>	
				<th><a class="sort" href="#" th:text="#{lastName2}" onclick="orderUser(4)">Nombre</a></th>	
				<th th:text="#{job}">Cargo</th>
				<th> </th>
				<th><a class="sort" href="#" th:text="#{province}" onclick="orderUser(5)">Sede</a></th>
				<th class="tc"><a class="sort" href="#" th:text="#{valid}" onclick="orderUser(6)">Activo</a></th>
				<th class="tc"><a class="sort" href="#" th:text="#{public}" onclick="orderUser(7)">Público</a></th>												
				<th class="wv2"></th>
				<th class="wv2"></th>
				<th class="wv2"></th>
				<th class="wv2" th:if="${simulador}"></th>
				<th class="wv2" th:if="${administrador}"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${usersList}">
				<td th:text="${user.cidentifier}"></td>
				<td th:text="${user.dname}"></td>
				<td th:text="${user.dsurname1}"></td>
				<td th:text="${user.dsurname2}"></td>
				<td><label th:each="userJob : ${user.pfUsersJobs}" th:text="${userJob.pfUserJob.dname}"></label></td>
				<td> <div th:if="${user.isAdministrator()}" title="Es usuario administrador" class="mf-icon-admin-16"></div></td>
				<td th:text="${user.pfProvince != null} ? ${user.pfProvince.cnombre}"></td>
				<td th:if="${user.lvalid}" class="tc"><a href="#!"><span class="mf-icon mf-icon-enabled-16"></span></a></td>
				<td th:unless="${user.lvalid}" class="tc"><a href="#!"><span class="mf-icon mf-icon-disabled-16"></span></a></td>
				<td th:if="${user.lvisible}" class="tc"><a href="#!"><span class="mf-icon mf-icon-enabled-16"></span></a></td>		
				<td th:unless="${user.lvisible}" class="tc"><a href="#!"><span class="mf-icon mf-icon-disabled-16"></span></a></td>
				<td>
					<a href="javascript:void(0)" th:onclick="|prepareLoadUserJob('${user.primaryKey}')|"><span class="mf-icon mf-icon-jobs-16">Gestionar cargos</span></a>
				</td>
				<td>	
					<a href="javascript:void(0)" th:onclick="|prepareModifyUser('${user.primaryKey}')|"><span class="mf-icon mf-icon-edit-16">Editar</span></a>
				</td>
				<td>		
					<a href="javascript:void(0)" th:onclick="|prepareDeleteUser('${user.primaryKey}','${user.cidentifier}')|" th:unless="${user.primaryKey eq usersParameters.user.primaryKey}"><span class="mf-icon mf-icon-delete-16">Eliminar</span></a>
				</td>
				<td th:if="${simulador}">		
					<a href="javascript:void(0)" th:onclick="|prepareSimulateUser('${user.primaryKey}','${user.cidentifier}')|" th:unless="${user.primaryKey eq usersParameters.user.primaryKey}"><span class="mf-icon mf-icon-authorized_in-16">Simular usuario</span></a>
				</td>
				<td th:if="${administrador}">	
					<div title="Refrescar informacion de Autentica"><a href="javascript:void(0)" th:onclick="|actualizarInformacionAutentica('${user.primaryKey}');|"><span class="mf-icon mf-icon-reloadAutentica-16">Refrescar informacion de autentica</span></a></div>	
					
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	<div id="" class=" wv100 pagination">
		<div  class="right pr20">
			<ol>
				<li class="numResults">
					<select id="paginator.pageSize" name="paginator.pageSize" onchange="goUserPage(1);">
						<option th:selected="*{paginator.pageSize eq 10}" value="10">10</option>
						<option th:selected="*{paginator.pageSize eq 20}" value="20">20</option>
						<option th:selected="*{paginator.pageSize eq 30}" value="30">30</option>
					</select> de <span th:text="*{paginator.inboxSize}"></span>
				</li>

				<li	th:if="*{not paginator.isFirst}">
					<a href="javascript:void(0)" onclick="goUserPage(1);">&lt;&lt;</a>
				</li>
				<li th:if="*{not paginator.isFirst}">
					<a href="javascript:void(0)" th:onclick="|goUserPage('*{paginator.currentPage - 1}');|">&lt;</a>
				</li>
				<li class="numResults">
					<select onchange="goUserPage(this.value);">
						<option th:each="pag : *{paginator.pages}" th:value="${pag}" th:text="${pag}" th:selected="${usersParameters.paginator.currentPage == pag}"></option>
					</select>
				</li>
				<li th:if="*{not paginator.isLast}">
					<a href="javascript:void(0)" th:onclick="|goUserPage('*{paginator.currentPage + 1}');|">&gt;</a>
				</li>
				<li th:if="*{not paginator.isLast}">
					<a href="javascript:void(0)" th:onclick="|goUserPage('*{paginator.numPages}');|">&gt;&gt;</a>
				</li>
			</ol>
		</div>
	</div>
</form>

<form id="simulateUserForm" th:action="|${#httpServletRequest.getContextPath()}/usersManagement/user/simulate|" method="post">
	<input type="hidden" id="simulateUserPk" name="simulateUserPk"/>
</form>

<div id="questionUser" class="capaPregunta" style="display: none;">
	<div class="fld">
		<span class="mf-icon-24 mf-icon-warning-24"></span>
		<span id="questionMessageUser" class="pregunta"></span> 
	</div>
	<div class="fld">
	  	<button id="yesButtonUser" name="yesButtonUser" class="simbuttom secondary">
			<span th:title="#{yes}" th:text="#{yes}"></span>
		</button>
	  	<button id="noButtonUser" name="noButtonUser" class=" simbuttom secondary" onclick="$('#questionUser').hide();">
			<span th:title="#{no}" th:text="#{no}"></span>
		</button>
	</div>
</div>
</div>
</html>	    
