/*
* Copyright 2016 Ministerio de Sanidad, Servicios Sociales e Igualdad 
* Licencia con arreglo a la EUPL, Versión 1.1 o –en cuanto sean aprobadas por laComisión Europea– versiones posteriores de la EUPL (la «Licencia»); 
* Solo podrá usarse esta obra si se respeta la Licencia. 
* Puede obtenerse una copia de la Licencia en: 
* http://joinup.ec.europa.eu/software/page/eupl/licence-eupl 
* Salvo cuando lo exija la legislación aplicable o se acuerde por escrito, el programa distribuido con arreglo a la Licencia se distribuye «TAL CUAL», SIN GARANTIAS NI CONDICIONES DE NINGÚN TIPO, ni expresas ni implícitas. 
* Véase la Licencia en el idioma concreto que rige los permisos y limitaciones que establece la Licencia. 
*/

div#mainappletsign{
 margin:0 auto 0 auto;
 width:700px;
 min-height: 100%;
 height: auto !important;
 height: 100%;
 background:#FFFFFF;
 padding:15px;
}

input#lasterror{
 width:100%;
}
textarea#resultholder{
 width:100%;
 height:300px;
}

div.signFileOk {
	text-align: center;
	color: rgb(50, 85, 140);
	font-weight: bold;
	padding-bottom: 15px;
}

div#contentapplet {
	font-size :80%;
}


div#contentappletOtherSign {
	font-size :80%;
}
