<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright 2016 Ministerio de Sanidad, Servicios Sociales e Igualdad 
 Licencia con arreglo a la EUPL, Versión 1.1 o -en cuanto sean aprobadas por laComisión Europea– versiones posteriores de la EUPL (la «Licencia»); 
 Solo podrá usarse esta obra si se respeta la Licencia. 
 Puede obtenerse una copia de la Licencia en: 
 http://joinup.ec.europa.eu/software/page/eupl/licence-eupl 
 Salvo cuando lo exija la legislación aplicable o se acuerde por escrito, el programa distribuido con arreglo a la Licencia se distribuye «TAL CUAL», SIN GARANTIAS NI CONDICIONES DE NINGÚN TIPO, ni expresas ni implícitas. 
 Véase la Licencia en el idioma concreto que rige los permisos y limitaciones que establece la Licencia. 
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.msssi.sigm.dao.dataaccess.persistence.IUserUserHdrOBMapper">
    
    <insert id="insert" parameterType="es.msssi.sigm.dao.dataaccess.domain.IUserUserHdrOB">
        INSERT INTO IUSERUSERHDR_OB
        (ID, FLAG, OBLIGATION_DATE, APP)
        VALUES
        (#{id}, #{flag}, sysdate, #{app})        
    </insert>
    
    <select id="getByIdApp"
            parameterType="java.util.HashMap"
            resultType="es.msssi.sigm.dao.dataaccess.domain.IUserUserHdrOB">
        SELECT ID AS id, FLAG AS flag, OBLIGATION_DATE as oglitationdate, APP as app 
        FROM IUSERUSERHDR_OB
        WHERE ID=#{id} AND APP=#{app}
    </select>   
      
</mapper>